/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
    height: 100%;
}

#app, #main {
  height: 100%;
}

#bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.48);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.48);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  background: #fff;
}

#bottom-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bottom-nav a {
  display: inline-block;
  padding: 1rem;
}

#activity{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#settings-icon {
  position: absolute;
  top: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#conn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -7rem;
}

#conn div {
  border-radius: 50%;
  padding: .5rem;
  margin: 0 .7rem;
  background: lightgray;
}

#btnBox {
    background: blue;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: width .3s, height .3s, border-radius .5s, background .2s;
    -o-transition: width .3s, height .3s, border-radius .5s, background .2s;
    transition: width .3s, height .3s, border-radius .5s, background .2s;
    -webkit-transition-timing-function: ease-in;
         -o-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    color: #fff;
    z-index: 999;
}

.statsExpand {
  position: fixed;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: black !important;
  /* opacity: 0; */
  /* justify-content: flex-start !important;
  align-items: flex-start !important; */
}

#sessionStats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

#sessionStats div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statVal {
  font-size: 1.7rem;
}

.statLabel {
  margin-top: -.5rem;
}

/* #counter {
    transition: opacity .4s;
    transition-timing-function: ease-in;
} */

.countdown span {
    font-size: 7rem;
}

#pauseStopBtn {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 7rem;
    width: 100%;
    background: red;
    padding: 1rem;
}

.sessionCard {
  padding: 0.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
