html,
body {
    height: 100%;
}

#app, #main {
  height: 100%;
}

#bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.48);
  display: flex;
  justify-content: center;
  z-index: 99;
}

#bottom-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#bottom-nav a {
  display: inline-block;
  padding: 1rem;
}

#activity{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
#settings-icon {
  align-self: flex-end;
}*/

#btnBox {
    background: blue;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .3s, height .3s, border-radius .5s, background .2s;
    transition-timing-function: ease-in;
    color: #fff;
    z-index: 999;
}

.statsExpand {
  position: fixed;
  border-radius: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: black !important;
  /* opacity: 0; */
}

/* #counter {
    transition: opacity .4s;
    transition-timing-function: ease-in;
} */

.countdown span {
    font-size: 7rem;
}

#pauseStopBtn {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 7rem;
    width: 100%;
    background: red;
    padding: 1rem;
}
